.heading-1 {
  font: 600 5rem/1 "Fraunces", serif;
}

.heading-2 {
  font: 600 3.5rem/1.14 "Fraunces", serif;
}

.heading-3 {
  font: 600 2rem/1.25 "Fraunces", serif;
}

.body {
  font: 400 1.125rem/1.77 "Manrope", sans-serif;
}

@media (max-width: 800px) {
  .heading-1 {
    font: 600 3.75rem/1 "Fraunces", serif;
  }

  .heading-2 {
    font: 600 3rem/1.16 "Fraunces", serif;
  }

  .heading-3 {
    font: 600 1.75rem/1.3 "Fraunces", serif;
  }

  .body {
    font: 400 1rem/1.75 "Manrope", sans-serif;
  }
}

@media (max-width: 600px) {
  .heading-1 {
    font: 600 3.125rem/1 "Fraunces", serif;
  }

  .heading-2 {
    font: 600 2rem/1.5 "Fraunces", serif;
  }
}
